k8s/cri-dockerd/
envoy/build/envoy
envoy/envoy.dump
envoy/envoy_sidecar.dump
istio/kmesh/l7_encoder
istio/build/pilot-discovery
system/capture.pcap
ss/shadowsocks-v1.15.3.x86_64-unknown-linux-gnu.tar.xz
ss/sslocal
ss/ssmanager
ss/ssserver
ss/ssservice
ss/ssurl
